html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

:root{
  --basic-white: #fff;
  --basic-light-blue: #F1F5F7;
  --basic-dark-blue: #32425C;
  --basic-red: #EE3643;
  --special-yellow: #FFBF47;
  --bacic-green: #63A63E;

}

.page-body{
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  background-color: var(--basic-white);

}

a{
  text-decoration: none;
  color: #fff;
}

ul{
  list-style: none;
}

.main{
  min-height: 1647px;
}

.header-container{
  width: 940px;
  height: 42px;
  background-color: var(--basic-dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: right;
  margin: 0 auto;

}

.first{
  min-height: 278px;
  background-color: var(--basic-light-blue);
}

.main-container{
  margin: 0 auto;
  width: 940px;
}

.header{
  width: 1200px;
  height: 42px;
  background-color: var(--basic-dark-blue);
  display: flex;

}

.main-container{
  margin: 0 auto;
  width: 940px;
}

.header-container{
  width: 940px;
  height: 42px;
  background-color: var(--basic-dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;

}

.header__logo{
  width: 220px;
  height: 51px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

}

.header__logo:active{
  background-color: #BA2732;
  transition: .4s;
}

.header__link_name{
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: var(--basic-white);
  text-transform: uppercase;

}

.header__link_name{
  padding: 13px 57px 17px 55px;
}


.dws-input{
  margin-left: -2px;
}

.search-form{
  position: relative;
}

input[type="text"]{
  width: 230px;
  height: 42px;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 41px;
  background-color:  #32425C;
}

.search-txt{
  border: none;
  outline: none;
  padding: 0;

}

.dws-input:before{
  content: url("../img/lupa123.svg");
  top: 12px;
  left: 15px;
  position: absolute;
  opacity: 50%;

}

.dws-input:hover::before{
  content: url("../img/lupa 456.svg");
  position: absolute;
  top: 12px;
  left: 15px;
  opacity: 100%;
  transition: .4s;
}

.search-txt:focus{
  background-color: #fff;
  color: #000;
  transition: .4s;
}

.header-mark{
  display: inline-block;
  width: 150px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-left: -2px;
  padding-top: 9px;
  box-sizing: border-box;

}

.header-mark:before{
  content: url(../img/icon-bookmark.svg);
  position: relative;
  right: 10px;
  top: 2px;
  opacity: 50%;
  color: #fff;

}

.header-mark:hover:before{
  opacity: 100%;
}

.header-mark:active{
  background-color: var(--basic-red);
}

.header-basket{
  display: inline-block;
  width: 150px;
  height: 100%;
  color: #fff;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-right: -5px;
  padding-top: 9px;
  box-sizing: border-box;

}

.header-basket:before{
  content: url(../img/icon-cart.svg);
  position: relative;
  right: 7px;
  top: 2px;
  opacity: 50%;

}

.header-basket:hover:before{
  opacity: 100%;
}

.header-basket:active{
  background-color: var(--basic-red);
}

.header-order{
  width: 150px;
  height: 42px;
  background-color: #63A63E;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;

}

.header-order:hover{
  background-color: #5FBB2D;
  transition: .4s;
}

.header-order:active{
  color: #fff;
  opacity: 75%;
}

           /* End header
*/
.main-wrapper{
  background-color: var(--basic-light-blue);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.main-wrapper__intro{
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 20px;
  margin-top: 44px;
  color: var(--basic-red);

}

.main-wrapper__phone-num{
  width: 270px;
  height: 45px;
  border: 3px solid #FFF;
  box-sizing: border-box;
  text-align: center;
  margin-left: 70px;
  margin-top: 12px;

}

.phone{
  display: block;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 4px;
  padding-right: 7px;
  color: var(--basic-red);

}

.phone:before{
  content: url(../img/icon-phone.svg);
  position: relative;
  top: 2px;
  padding-right: 16px;

}

.location{
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--basic-dark-blue);

}

.search-form__user{
  margin-top: 24px;
  position: relative;
}

input[type="user"]{
  width: 299px;
  height: 45px;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 9px;
  margin-right: 0;
  padding: 0;
  background-color:  #fff;
  box-sizing: border-box;
}

.search-user{
  border: none;
  outline: none;
  padding: 0;
  padding-left: 12px;
  text-align: center;

}

.search-txt:focus{
  background-color: #fff;
  color: #000;
  transition: .4s;
}

.form-input{
  margin-top: 5px;
}

.form-input:before{
  content: url("../img/user_1.svg");
  position: absolute;
  left: 15px;
  top: 25px;
  z-index: 550;
  opacity: 20%;
}

.form-input:hover:before{
  opacity: 100%;
  transition: .4s;
}

.personal-btn{
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  position: relative;
  right: 40px;
  top: 11px;
  cursor: pointer;
  background: transparent;

}

.form-input:after{
  content: url("../img/icon-logout.svg");
  position: absolute;
  z-index: 222;
  top: 27px;
  right: 17px;
  opacity: 20%;

}

.form-input:hover:after{
  opacity: 100%;
  transition: .4s;
}

.form-input:active{
  opacity: 70%;
}

.form-field{
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #32425C;
  position: relative;
  margin-top: 7px;
  margin-left: 45px;

}

.personal-staff{
  margin-left: 28px;
}

.personal-staff:before{
  content:"";
  position: absolute;
  bottom: 8px;
  left: -17px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425C;

}

.form-field:hover{
  color: var(--basic-red);
  transition: .4s;
}

.form-field:active{
  color: #e0e0e0;

}
.main-nav{
  display: flex;
  margin-top: 30px;
  margin-bottom: 0;

}

.nav-container{
  width: 940px;
  min-height: 60px;
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px -5px 0px #293449;

}

.nav-container__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding: 0;

}

.nav-container__items a{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 110px;
  height: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: Cuprum;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  margin-top: -2px;

}

.nav-container__items li:last-child{
  margin-right: 18px;
}

.nav-container__items li:nth-child(6){
   margin-right: -12px;
}

.nav-container__items li:nth-child(5){
  width: 140px;
  height: 58px;
  margin-right: 3px;
  padding-top: 2px;

}

.nav-container__items li:nth-child(4){
   margin-left: -22px;
}

.nav-container__items li:nth-child(3){
  margin-left: -13px;
}

.nav-container__items li:nth-child(2){
  margin-left: -14px;

}

.nav-container__items li:first-child{
  margin-left: 13px;
}

.nav-container__items li:hover{
  background-color:  #293449;
  transition: .4s;

}

.nav-container__items a:active{
  background-color: #1D2739;
  opacity: 50%;
  transition: .4s;
}

.home-links{
  display: flex;
  flex-wrap: wrap;
}

.home-link{
  margin-top: 22px;
}

.catalog-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;

}

.list-name{
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  position: relative;
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.5px;

}

.catalog-list .list-name:last-child{
  margin-left: 43px;
}

.catalog-list .list-name:nth-child(2){
  margin-left: 40px;
}

.list-name:before{
content: url(../img/icon-right-small.svg);
position: absolute;
top: 22px;
left: -26px;

}

.section-name{
  width: 100%;
  height: 89px;
  margin: 0;
  margin-top: -5px;
  padding-top: 29px;
  padding-left: 29px;
  text-align: left;
  color: var(--basic-dark-blue);
  background-color: var(--basic-light-blue);
  box-sizing: border-box;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;

}


                  /*End aside left-column*/

.right-column{
  width: 700px;
  min-height: 1221px;
  float: right;
  clear: both;

}

.sortation{
  width: 700px;
  height: 38px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F7F3EC;

}

.sortation span{
  display: block;
  min-width: 241px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 10px;

}

.sortation ul{
  padding: 0;
  margin: 0;
  width: 459px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sortation ul li:nth-child(2){
  margin-left: 15px;
  box-sizing: border-box;
}

.sortation ul li:nth-child(3){
  margin-right: -15px;
  box-sizing: border-box;
}

.sortation ul li:nth-child(4){
  margin-right: -35px;
}

.sortation ul li:nth-child(5){
  margin-right: 17px;
}

.sortation-item__price,
.sortation-item__type,
.sortation-item__functions{
  border-bottom: 1px dashed var(--basic-red);
  color: grey;
}

.sortation-item a:hover{
  color: #000;
  border-bottom: 1px solid var(--basic-red);
  transition: .4s;
}

.sortation-item a:active{
  color: var(--basic-red);
}

.sortation-item__type_btn-up{
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 10px solid grey;
  transform: rotate(90deg);
  cursor: pointer;

}

.sortation-item__type_btn-down {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid grey;
  transform: rotate(90deg);
  cursor: pointer;

}

.sortation-item__type_btn-up:hover{
  border-right: 10px solid #000;
  transition: .4s;
}

.sortation-item__type_btn-down:hover{
  border-left: 10px solid #000;
  transition: .4s;
}

.sortation-item__type_btn-up:active{
  border-right: 10px solid var(--basic-red);
  transition: .4s;
}

.sortation-item__type_btn-down:active{
  border-left: 10px solid var(--basic-red);
  transition: .4s;
}


.main-list{
  margin: 0;
  margin-top: 29px;
  padding: 0;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 318px 318px 318px;
  grid-row-gap: 18px;
  grid-column-gap: 20px;

}

.buy-btn{
  width: 135px;
  height: 38px;
  background: #63A63E;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;

}

.buy-btn:before{
  content: url(../img/icon-cart.svg);
  padding-right: 9px;
  padding-top: 3px;

}

.back-btn{
  width: 135px;
  height: 38px;
  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--basic-dark-blue);
  outline: none;
  cursor: pointer;

}

.buy-btn, .back-btn{
  margin-top: 38px;
  margin-left: 40px;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;

}

.back-btn{
  margin-top: 87px;

}

.buy-btn:hover{
  background-color: #5FBB2D;
  transition: .4s;
}

.buy-btn:active{
  background-color: #518534;
  transition: .4s;
}

.back-btn:hover{
  border-color: #32425C;
  transition: .4s;
}

.back-btn:active{
  border-color: #32425C;
  opacity: 50%;
  transition: .4s;
}

.main-list__item{
  width: 220px;
  height: 318px;
  margin: 0;
  border: 1px solid #EAEAEA;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;

}

.default-hidden,
.buy-btn,
.back-btn{
  display: none;
  position: absolute;
}

.main-list__item:hover .default-hidden{
  display: block;
}

.main-list__item:hover{
  box-shadow: 3px 3px 15px 3px #d4d4d4;
  transition: .4s;
}

 .main-list__item:hover .img-container{
 visibility: hidden;
}

.main-list__item:nth-child(3n+6) .red-arrow{
  margin-top: 39px;
}

.main-list__item:nth-child(3) .buy-btn{
  display: block;
  position: relative;
  margin-top: 38px;
}

.main-list__item:nth-child(3) .back-btn{
  display: block;
  position: relative;
  margin-top: 10px;
}

.main-list__item:nth-child(3) .main-list__item_name3{
  margin-top: 40px;
}

.main-list__item_new{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  background-image: url(../img/new.svg);
  background-position: right top;
  background-repeat: no-repeat;

}

.img-container{
  width: 100%;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.img-bosch3,
.img-bosch2,
.img-bosch4{
  margin-right: 12px;
}

.main-list__item_name1,
.main-list__item_name2,
.main-list__item_name3,
.main-list__item_name4{
  margin: 0;
  margin-bottom: 0;
  padding-top: 12px;
  color: #000;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  justify-content: center;

}

.main-list__bfg{
  margin: 0;
  color: #000;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;

}

.main-list__item_old-price{
  margin: 0;
  padding-top: 8px;
  font-family: PT Sans;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  justify-content: center;
  color: #A9A9A9;

}

.red-arrow{
  width: 121px;
  height: 38px;
  display: block;
  position: absolute;
  background: var(--basic-red);
  color:#fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: 15px;
  margin-top: 17px;

}

.red-arrow:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid;
  border-color: transparent transparent transparent var(--basic-red);
  bottom: -0.5px;
  left: 98%;
  margin-top: -25px;
  border-radius: 14%;
}

.main-list__item_new .red-arrow{
  margin-left: 47px;
  margin-top: 13px;
}

.main-list__item .red-arrow{
  margin-left: 47px;
  margin-top: 13px;
}

.main-list__item-new .red-arrow:last-child{
  margin-top: 43px;

}

.main-list__item_new-price,
.main-list__item_current-price{
  margin: 0;
  font-family: PT Sans;
  text-align: center;
  padding-top: 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;

}

.sec-pages{
  margin: 0;
  margin-top: 48px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.sec-page{
  width: 38px;
  height: 38px;
  background: transparent;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 7px;

}

.sec-page_next{
  width: 140px;
  height: 38px;
  background: transparent;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;

}

.sec-page_selected{
  margin-left: 0;
}

.sec-page:nth-child(n+2){
  margin-left: 10px;
}

.num-page_selected,
.num-page{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000;

}

.sec-page:active{
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
}

.info{
  width: 907px;
  height: 74px;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

}
              /*End right-column*/

.left-column{
  margin-top: 20px;
  width: 220px;
  height: 1200px;
  float: left;

}

.range-mark{
  min-height: 150px;
}

.filter__main{
  width: 220px;
  height: 38px;
  padding-left: 18px;
  background-color: #F7F3EC;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  box-sizing:  border-box;

}

.filter__main-item{
  margin: 0;
  padding: 0;
  border: none;

}

.filter__main::placeholder{
  color:#000;
}

.range-filter{
  width: 220px;
  height: 80px;
  margin-top: 12px;
  background-color: #F7F3EC;

}

.filter__main-item legend{
  font-family: PT Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;

}

.range-controls{
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 9px;
  background-color: #F7F3EC;
  border-radius: 5px;
}

.range-controls .scale{
  height: 2px;
  background-color: grey;
}

.range-controls .bar{
  width: 85%;
  height: 2px;
  background-color: #00CA74;

}

.range-controls .toggle{
  position: absolute;
  top: 27px;
  left: 0;
  width: 6px;
  height: 6px;
  padding: 0;
  border: 8px solid #fff;
  background-color: grey;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #F7F3EC;
  cursor: pointer;

}

.range-controls .toggle-min{
  left: 10px;
}

.range-controls .toggle-max{
  left: 155px;
}

.price-controls{
  display: flex;
  justify-content: space-between;
}

.price-controls input{
  padding: 0;
  padding-left: 5px;
  width: 95px;
  height: 38px;
  font-family: PT Sans;
  border: none;
  background-color: #F7F3EC;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  border: none;
  outline: none;

}

.min-max-price{
  width: 8px;
  height: 1px;
  margin: 0;
  margin-top: 20px;
  background-color: black;
}

.line{
  height: 1px;
  width: 220px;
  color: #F7F3EC;
  background-color: #F7F3EC;
  border: 0;
  margin-left: 0

}
.separate-line1{
  margin-top: 17px;
}

.separate-line2{
  margin-top: 31px;
}

.columns-header{
  margin: 0;
  font-family: PT Sans;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.first-header{
  margin-top: 12px;
}

.sec-header{
  margin-top: 17px;
}

.third-header{
  margin-top: 19px;
}
.left-column__header::last-child{
  margin-top: 30px;
}

.visually-hidden{
  visibility: hidden;
}

.filter-options label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;

}

.filter-options{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 3px;
  padding-left: 35px;
  font-family: PT Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;

}

.filter-options .filter-radio:nth-child(2){
  margin-top: 10px;
}
.filter-input-checkbox + label:before{
  content:"";
  position: absolute;
  left: -35px;
  top: -5px;
  width: 17px;
  height: 17px;
  border: 3px solid #C5C5C5;
  border-radius: 20%;

}

.filter-input-checkbox:checked + label:after{
  position: absolute;
  content:"";
  left: -24px;
  top: -8px;
  width: 7px;
  height: 17px;
  border: solid #C5C5C5;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);

}

.filter-input-radio + label:before{
  content:"";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 17px;
  height: 17px;
  border: 4px solid #C5C5C5;
  border-radius: 50%;

}

.filter-input-radio:checked + label:after{
  content:"";
  position: absolute;
  left: -26px;
  top: 5px;
  width: 7px;
  height: 7px;
  background-color: #C5C5C5;
  border-radius: 50%;

}

.filter-option{
  opacity: 70%;
}

.filter-option:hover{
  opacity: 100%;
}

.input-btn{
  width: 220px;
  height: 38px;
  margin-top: 34px;
  background-color: #fff;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #E5E5E5;
  outline: none;
  cursor: pointer;

}

                 /* End aside/main*/

.article{
  width: 1200px;
  min-height: 261px;
  background-color: #F1F5F7;

}

.article-header{
  margin: 0;
  padding-top: 65px;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;

}

.article p{
  padding-top: 13px;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;

}

                /*End article*/

.footer{
  margin: 0 auto;
  height: 193px;
  background-color: #32425C;

}

.footer-container{
  display: flex;
}

.footer p{
  color: #fff;
  display: flex;
}
.container{
  width: 330px;
  height: 193px;
  margin-left: 130px;

}

.main-logo__footer{
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

}

.adress{
  margin: 0;
  margin-top: 22px;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

}

.phone-footer{
  padding-top: 1px;
  padding-left: 1px;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;

}

.tech-logo__footer{
  font-size: 30px;
  padding: 16px 41px 25px 41px;
  margin: 0;
  text-transform: uppercase;
  font-family: Cuprum;

}

.nav-container__footer{
  width: 606px;
  height: 193px;
  margin-top: 37px;
  margin-left: 35px;
  background-color: transparent;

}

.main-items__footer{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;

}

.main-items__footer a{
  color: #fff;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  font-stretch: normal;

}

.main-items__footer a:hover{
  border-bottom: 1px solid #fff;
}

.main-items__footer a:active{
  opacity: 50%;
  border-bottom: none;
}


.sec-nav__footer{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-left: 17px;
  margin-top: 34px;
  padding-left: 2px;

}

.sec-nav__footer a{
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffda96;

  }


.sec-nav__footer a:hover{
  border-bottom: 1px solid #ffda96;
}

.sec-nav__footer a:active{
  opacity: 50%;
  border-bottom: none;
}

.sixth{
  background-color:  #293449;
  height: 107px;
}

.footer-info{
  margin: 0 auto;
  width: 940px;
  padding: 0;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;

}

.mail-link, .dev-link{
  color: #ffda96;
}

.footer__social-links{
  display: flex;
  justify-content: space-around;
  margin-left: 47px;
  padding-left: 0;

}

.social-link{
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212A3A;
  text-align: center;
  margin-top: 3px;

}

.social-link svg{
  margin-top: -2px;
  margin-left: -1px;
}

.social-link:nth-child(2){
  margin-right: 4px;
  margin-left: 4px;
}

.social-link:hover{
  background-color: var(--basic-red);
  transition: .4s;
}

.sixth p{
  color: #fff;
  margin: 0;
}

.phone-sec{
  color: #fff;
}

.footer__academy-link{
  display: flex;
}

.feedback{
  padding-right: 54px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

}

.developed{
  padding-right: 12px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

}

.developers:active{
color: var(--basic-red);
}









